<header class="text-center">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">BVC</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="https://byciitp.github.io">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <!-- <a class="nav-link" href="#">Link</a> -->
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Resources
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="https://byciitp.github.io/lectures">Lectures</a>
	          <a class="dropdown-item" href="https://byciitp.github.io/ppts">Presentations</a>
	          <!-- <div class="dropdown-divider"></div> -->
	          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
	        </div>
	      </li>
	    </ul>

      	<div style="text-align: center;">
      		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
      				<a class="nav-link active-link" href="https://byciitp.github.io/meet"><img style="width: 30px; height: 30px;" src="https://byciitp.github.io/images/meet.png"> Meet</a>
      			</li>
	      		<li class="nav-item active">
			      	<audio controls id="audio_player" src="">
						Can't play audio.
					</audio>
	      		</li>
      		</ul>
      	</div>
	  </div>
	</nav>

	<div style="padding-top: 6%">
		<h1 class="display-4">Bhaktivedanta Club IIT Patna</h1>
		<p style="margin-bottom: 50px" class="text-muted font-italic">Service To Humanity, Spirituality and Character</p>
	</div>
</header>

