<div id="ramayana">
	<div id="collapseable1" class="collapse shadow-sm hide">
			<div class="card">
				<div class="card-body">
					<p id="audios/ramayana/200326_2034.mp3" class="plays"> 2020-03-26 </p>
					<p id="audios/ramayana/200327_0743.mp3" class="plays"> 2020-03-27 </p>
					<p id="audios/ramayana/200327_2031.mp3" class="plays"> 2020-03-27 </p>
					<p id="audios/ramayana/200328_0813.mp3" class="plays"> 2020-03-28 </p>
					<p id="audios/ramayana/200328_2031.mp3" class="plays"> 2020-03-28 </p>
					<p id="audios/ramayana/200329_2002.mp3" class="plays"> 2020-03-29 </p>
					<p id="audios/ramayana/200330_0910_e.mp3" class="plays"> 2020-03-30 </p>
					<p id="audios/ramayana/200330_1932_e.mp3" class="plays"> 2020-03-30 </p>
					<p id="audios/ramayana/200331_0837.mp3" class="plays"> King Dashratha Passes away - 2020-03-31 </p>
					<p id="audios/ramayana/200331_1950_e.mp3" class="plays"> Return of Bharata to Ayodhya - 2020-03-31 </p>
					<p id="audios/ramayana/200401_1935_e.mp3" class="plays"> Bharata Met Rama 2020-04-01 </p>
					<p id="audios/ramayana/200402_1008.mp3" class="plays"> Morning 2020-04-02 </p>
					<p id="audios/ramayana/200402_1939.mp3" class="plays"> Evening 2020-04-02 </p>
					<p id="audios/ramayana/200403_0843.mp3" class="plays"> Morning 2020-04-03 </p>
					<p id="audios/ramayana/200403_1943.mp3" class="plays"> Evening 2020-04-03 </p>
					<p id="audios/ramayana/200404_0837.mp3" class="plays"> Morning 2020-04-04 </p>
					<p id="audios/ramayana/200404_1934.mp3" class="plays"> Evening 2020-04-04 </p>
					
					<p id="audios/ramayana/200405_0828.mp3" class="plays"> Morning 2020-04-05 </p>
					<p id="audios/ramayana/200405_ev.mp3" class="plays"> Evening 2020-04-05 </p>
					
					<p id="audios/ramayana/200406_0736.mp3" class="plays"> Morning 2020-04-06 </p>
					<p id="audios/ramayana/200406_1936.mp3" class="plays"> Evening 2020-04-06 </p>

					<p id="audios/ramayana/200407_0829.mp3" class="plays"> Lord Ram liberated Kabandha - Morning 2020-04-07 </p>
					<p id="audios/ramayana/200407_1935.mp3" class="plays"> Lord Ram met Sugriva and Lord Hanuman - Evening 2020-04-07 </p>

					<p id="audios/ramayana/200408_0759.mp3" class="plays"> Discussion between Lord Ram and Sugriva - Morning 2020-04-08 </p>
					<p id="audios/ramayana/200408_1929.mp3" class="plays"> Lord Ram killed Bali - Evening 2020-04-08 </p>

					<p id="audios/ramayana/200409_1.mp3" class="plays"> Morning 2020-04-09 </p>
					<p id="audios/ramayana/200409_2.mp3" class="plays"> Evening 2020-04-09 </p>

					<p id="audios/ramayana/200410_1.mp3" class="plays"> Morning 2020-04-10 </p>
					<p id="audios/ramayana/200410_2.mp3" class="plays"> Evening 2020-04-10 </p>

					<p id="audios/ramayana/200411_1.mp3" class="plays"> Morning 2020-04-11 </p>
					<p id="audios/ramayana/200411_2.mp3" class="plays"> Evening 2020-04-11 </p>

					<p id="audios/ramayana/200412_2.mp3" class="plays"> Evening 2020-04-12 </p>

					<p id="audios/ramayana/200413_1.mp3" class="plays"> Morning 2020-04-13 </p>
					<p id="audios/ramayana/200413_2.mp3" class="plays"> Evening 2020-04-13 </p>

					<p id="audios/ramayana/200414_1.mp3" class="plays"> Morning 2020-04-14 </p>
					<p id="audios/ramayana/200414_2.mp3" class="plays"> Evening 2020-04-14 </p>

					<p id="audios/ramayana/200415_1.mp3" class="plays"> Morning 2020-04-15 </p>
					<p id="audios/ramayana/200415_2.mp3" class="plays"> Evening 2020-04-15 </p>

					<p id="audios/ramayana/200416_2.mp3" class="plays"> Evening 2020-04-16 </p>
			</div>
		</div>
	</div>
</div>